@import './myNormalize.css';
@import 'tailwindcss';

/* @theme {
  --color-logo: #e50914;
} */
:root {
  font-family: 'Roboto', Times, serif;
  font-size: 14px;
  color: white;
}
body {
  background-color: black;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
.messageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


